@import "./utilities/utilities";

@import "components/Card/style.scss";
@import "components/Comment/style.scss";
@import "components/Button/style.scss";

// global styles
body {
	color: #ffffff;
	background: #000000;
}

.container {
	margin: 20px;
}
